{% extends 'FirstApp/base.html' %}
{% block body_block %}
{% if delete %}
<div class="alert alert-danger">
  <h3>{{delete}}</h3>
</div>
{% else %}
<h1>Edit Artist : </h1>
<form  method="POST">
  {{form.as_p}}

  <input type="submit" name="submit" value="Update" class="btn btn-success">
   {% csrf_token %}
   &nbsp &nbsp
  <a href="{% url 'FirstApp:delete_artist' pk=artist_info.pk %}" class="btn btn-danger"
   onclick="return confirm('Are You Sure Delete This Artist ??')">Delete</a>
 </form>

{% endif %}
{% endblock %}
